body {
    background: #bbb;
}
canvas {
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #464646;
    filter: drop-shadow(0 0 2px #111111);
}